<turbo-frame id="contact-us-form">
  <h1>ContactUs#new</h1>
  <h2>Fill in the following details:</h2>

  <%= form_for @message do |f| %>
    <%= f.text_area :content %>
    <br/>
    <%= f.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>

</turbo-frame>
